arabic-reshaper
asgiref
certifi
charset-normalizer
Django
django-active-link
future
html5lib
idna
numpy
Pillow
PyPDF2
python-bidi
python-dateutil
pytz
reportlab
requests
six
sqlparse
urllib3
webencodings
openpyxl